@charset "utf-8";
/* CSS Document */
body,div,td,input,textarea {
	font-size:13px;
	font-family:  "新細明體",Arial,Verdana;
	/*font-family:  "微軟正黑體","細明體", "新細明體",Arial,Verdana;*/
	color:#000; /*all font color*/
	word-wrap: break-word;
	line-height:24px;
	-webkit-text-size-adjust:none;	/*make chrome support < 12px*/
}
a,span {
	font-size:13px;
	font-family:  "新細明體",Arial,Verdana;
	word-wrap: break-word;
	-webkit-text-size-adjust:none; 
}
a {
	text-decoration: none;
	outline: none; /* for Firefox */
    behavior:expression(this.onFocus=this.blur()); /* for IE */
}
li { zoom:1; vertical-align:middle;}
img{border:0;}
.bold{font-weight:bold;}
.red{color:#8e3357;}
.gray{color:#999;}
.title{font-size:15px;}